.footer {
  position: relative;
  box-sizing: border-box;
  background-color: #0a2750;
  color: white;
  padding-top: 60px;
  padding-right: 80px;
  padding-bottom: 60px;
  padding-left: 80px;
  z-index: 1;
  overflow: hidden;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
}
.footer__circle {
  position: absolute;
  border-radius: 100%;
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  top: -128px;
  left: -44px;
  z-index: -1;
}

.footer__column_content_social {
  margin-left: auto;
}

.footer__logo {
  margin: 0;
  width: 100px;
  height: 55px;
}

.footer__column-heading {
  margin: 0 auto 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  row-gap: 16px;
}

.footer__list-item {
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
  column-gap: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin-top: 100px;

  color: #fff;
}
