.footer {
  position: relative;
  box-sizing: border-box;
  background-color: #0a2750;
  color: white;
  padding-top: 60px;
  padding-right: 80px;
  padding-bottom: 108px;
  padding-left: 80px;
  z-index: 1;
  overflow: hidden;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  max-width: 1180px;
  margin-bottom: 108px;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__circle {
  position: absolute;
  border-radius: 100%;
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  top: -128px;
  left: -44px;
  z-index: -1;
}

.footer__social {
  text-align: right;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
}

.footer__list-item {
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  font-size: 14px;
  color: white;
}
