h1,
p {
  margin: 0;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-right: 80px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  position: relative;
  left: 30px;
  width: 105px;
  height: 39px;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 8px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.header__content {
  display: block;
}
.header__title {
  display: block;
  position: relative;
  max-width: 709px;
  top: 183px;
  left: 80px;
}
.header__title-span {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  line-height: 72px;
}
.header__title-span--accent {
  font-style: italic;
  font-size: 58px;
  color: #2f80ed;
}
.header__title-span--black {
  font-weight: 500;
  font-size: 58px;
  letter-spacing: 1px;
  margin-top: 28px;
}
.header__description {
  position: relative;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  top: 211px;
  left: 80px;
}
.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}
.header__footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
}
.header__footer-text {
  font-weight: 500;
  line-height: 20px;
  color: #838383;
}
.header__paragraph {
  position: absolute;
  font-weight: 500;
  line-height: 20px;
  color: #838383;
  bottom: 40px;
  right: 80px;
}
.recipes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 720px;
  max-height: 800px;
  padding: 100px 0 0 80px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
}
.recipes__title {
  align-self: flex-start;
  max-width: 580px;
  margin: 0;

  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}
.recipes__subtitle {
  align-self: flex-start;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  color: #ffffff;
  max-width: 436px;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-top: 24px;
}
.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  padding-top: 80px;
  padding-bottom: 215px;

  column-gap: 40px;
}
.recipes__videos-item {
  display: flex;
  flex-direction: column;
  align-items: 0;
  row-gap: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos-item--video {
  width: 480px;
  height: 273px;
  border: none;
}
.recipes__videos-item--caption {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
